*{
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}
.Logo{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    transition: .4s;
}
.btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}
h3{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 15px;
}
.btn2{
    margin-top: 30px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    transition: .4s;
}
.btn2:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #f9004d;
    cursor: pointer;
}




#about{
    padding: 80px 80px;
    background-color: #F0F0F0;
    color: #0E2948;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #01596C;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 70%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
}
.tab-contents ul li span{
    font-size: 12px;
    color: #b54769;
}
.tab-contents{
    display: none;
    margin-bottom: 30px;
}
.tab-contents.active-tab{
    display: block;
}

.c-button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    transition: .5s;
}
.c-button:hover{
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}

#services{
    padding: 30px 0;
    margin-left: 80px;
    margin-right: 80px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #01596C;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.services-list div p{
    color: #fff;
}
.services-list div h2{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    color: antiquewhite;
}
.services-list div:hover{
    background: rgb(10, 128, 168);
    transform: translateY(-10px);
}
.services-list div button{
    margin-top: 50px;
}
#portfolio{
    margin-top: 50px;
    background-color: #F0F0F0;
    padding: 50px 80px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.lauer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),rgb(10, 128, 168));
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.lauer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.lauer a{
    margin-top: 20px;
    color: rgb(10, 128, 168);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}
.lauer p{
    color: white;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .lauer{
    height: 100%;
}
.button{
    display: block;
    margin: 50px auto;
    color: #f9004d;
    width: fit-content;
    border: 1px solid #f9004d;
    padding: 8px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: background .5s;
}
.button:hover{
    background: #f9004d;
    color: white;
}

.contact-left{
    flex-basis: 30%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-right{
    flex-basis: 55%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(10, 128, 168);
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: rgb(10, 128, 168);
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #d4d4d4;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 15px;
    border-radius: 6px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 30px;
    transition: .5s;
}
button:hover{
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.btn3{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    transition: .5s;
}
.btn3:hover{
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}
#msg{
    margin-left: 120px;
    margin-top: -25px;
    color: #61b752;
    font: bold;
    font-size: 15px;
    display: block;

}
.footer {
      text-align: center;
      padding: 1rem;
      background: #012E5F;
      color: #fff;
      margin-top: 2rem;
    }